In [ ]:
#import da biblioteca pandas    
import pandas as pd

importação e vizualização de **dados**

In [ ]:
#LEITURA DOS ARQUIVOS
df1 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Aracaju.xlsx')
df2 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Fortaleza.xlsx')
df3 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Natal.xlsx')
df4 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Recife.xlsx')
df5 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Salvador.xlsx')

In [ ]:
#concatener todos os arquivos em um 
df = pd.concat([df1, df2, df3, df4, df5])

In [ ]:
df.head(10)

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8
5  Aracaju 2018-01-01  156.20    1522     1
6  Aracaju 2018-01-01   35.50    1522     2
7  Aracaju 2019-01-01  172.22    1522     6
8  Aracaju 2019-01-01   12.16    1523     1
9  Aracaju 2019-01-01  149.36    1523     3

In [ ]:
#verificar os tipos de dados 
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [ ]:
#modificar o tipo de dados da coluna LojaID
df["LojaID"] = df["LojaID"].astype("object")

In [ ]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [ ]:
#verificar valores nulos 
df.isnull().sum()

Cidade    0
Data      0
Vendas    5
LojaID    0
Qtde      0
dtype: int64

In [ ]:
#preencher os valores nulos de vendas pela média 
df["Vendas"].fillna(df["Vendas"].mean(), inplace=True)

In [ ]:
#verificar valores nulos 
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [ ]:
#criando uma nova coluna 
df["Receita"]= df["Vendas"].mul(df["Qtde"])

In [ ]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [ ]:
#buscado o maior valor 
df["Receita"].max()

3544.0

In [ ]:
#buscado o menor valor 
df["Receita"].max()

3544.0

In [ ]:
#exibindo o top 3 linhas de maioires receitas 
df.nlargest(3, "Receita")

   Cidade       Data  Vendas LojaID  Qtde  Receita
7   Natal 2019-03-18   886.0    853     4   3544.0
51  Natal 2018-01-21   859.0    852     4   3436.0
55  Natal 2019-01-08   859.0    854     4   3436.0

In [ ]:
#exibindo o top 3 linhas de mnenores receitas 
df.nsmallest(3, "Receita")

      Cidade       Data  Vendas LojaID  Qtde  Receita
118  Aracaju 2018-01-01    3.34   1522     1     3.34
65    Recife 2019-01-01    4.01    981     1     4.01
92     Natal 2019-01-02    4.57   1035     1     4.57

In [ ]:
#agrupando por cidade   
df.groupby("Cidade")["Receita"].sum()

Cidade
Aracaju       48748.250000
Fortaleza     38698.562115
Natal        167227.520000
Recife        51936.510000
Salvador      40596.730000
Name: Receita, dtype: float64

In [ ]:
#Ordenando o conjunto de dados 
df.sort_values("Receita", ascending=False).head(10)

   Cidade       Data  Vendas LojaID  Qtde  Receita
7   Natal 2019-03-18   886.0    853     4   3544.0
51  Natal 2018-01-21   859.0    852     4   3436.0
55  Natal 2019-01-08   859.0    854     4   3436.0
30  Natal 2018-10-02   856.0    853     4   3424.0
41  Natal 2018-05-20   835.0    852     4   3340.0
38  Natal 2018-02-25   828.0    852     4   3312.0
10  Natal 2018-10-27   828.0    852     4   3312.0
69  Natal 2019-03-24   817.0    852     4   3268.0
62  Natal 2018-02-10   793.0    854     4   3172.0
52  Natal 2018-04-27   778.0    854     4   3112.0

In [ ]:
df.dtypes

Cidade             object
Data       datetime64[ns]
Vendas            float64
LojaID             object
Qtde                int64
Receita           float64
dtype: object

** **negrito**Trabalhando com datas **

In [ ]:
#agrupando a receita por ano 
df.groupby(df["Data"].dt.year)["Receita"].sum()

Data
2018    118176.530000
2019    229031.042115
Name: Receita, dtype: float64

In [ ]:
#criando uma nova coluna com o ano 
df["Ano_venda"] = df["Data"].dt.year

In [ ]:
df

       Cidade       Data  Vendas LojaID  Qtde  Receita  Ano_venda
0     Aracaju 2018-01-01  142.00   1520     1   142.00       2018
1     Aracaju 2018-01-01   14.21   1522     6    85.26       2018
2     Aracaju 2018-01-01   71.55   1520     1    71.55       2018
3     Aracaju 2018-01-01    3.01   1521     7    21.07       2018
4     Aracaju 2018-01-01   24.51   1522     8   196.08       2018
..        ...        ...     ...    ...   ...      ...        ...
235  Salvador 2019-01-03   41.84   1034     1    41.84       2019
236  Salvador 2019-01-03  126.29   1035     3   378.87       2019
237  Salvador 2019-01-03   38.06   1036     3   114.18       2019
238  Salvador 2019-01-03  139.64   1035     1   139.64       2019
239  Salvador 2019-01-03  161.41   1037     3   484.23       2019

[894 rows x 7 columns]

In [ ]:
#extraindo mes e dia 
df["mes_venda"], df["dia_venda"] = (df["Data"].dt.month, df["Data"].dt.day)

In [ ]:
df

       Cidade       Data  Vendas  ... Ano_venda  mes_venda  dia_venda
0     Aracaju 2018-01-01  142.00  ...      2018          1          1
1     Aracaju 2018-01-01   14.21  ...      2018          1          1
2     Aracaju 2018-01-01   71.55  ...      2018          1          1
3     Aracaju 2018-01-01    3.01  ...      2018          1          1
4     Aracaju 2018-01-01   24.51  ...      2018          1          1
..        ...        ...     ...  ...       ...        ...        ...
235  Salvador 2019-01-03   41.84  ...      2019          1          3
236  Salvador 2019-01-03  126.29  ...      2019          1          3
237  Salvador 2019-01-03   38.06  ...      2019          1          3
238  Salvador 2019-01-03  139.64  ...      2019          1          3
239  Salvador 2019-01-03  161.41  ...      2019          1          3

[894 rows x 9 columns]

In [ ]:
#data mais antiga 
df["Data"].min()

Timestamp('2018-01-01 00:00:00')

In [ ]:
#calculando a diferença entre dias 
df["diferença_dias"] = df["Data"] - df["Data"].min()

In [ ]:
df

       Cidade       Data  Vendas  ... mes_venda  dia_venda  diferença_dias
0     Aracaju 2018-01-01  142.00  ...         1          1          0 days
1     Aracaju 2018-01-01   14.21  ...         1          1          0 days
2     Aracaju 2018-01-01   71.55  ...         1          1          0 days
3     Aracaju 2018-01-01    3.01  ...         1          1          0 days
4     Aracaju 2018-01-01   24.51  ...         1          1          0 days
..        ...        ...     ...  ...       ...        ...             ...
235  Salvador 2019-01-03   41.84  ...         1          3        367 days
236  Salvador 2019-01-03  126.29  ...         1          3        367 days
237  Salvador 2019-01-03   38.06  ...         1          3        367 days
238  Salvador 2019-01-03  139.64  ...         1          3        367 days
239  Salvador 2019-01-03  161.41  ...         1          3        367 days

[894 rows x 10 columns]

In [ ]:
#ciando uma coluna de tremestre 
df["trimestre"]=df["Data"].dt.quarter

In [ ]:
df

       Cidade       Data  Vendas  ... dia_venda  diferença_dias  trimestre
0     Aracaju 2018-01-01  142.00  ...         1          0 days          1
1     Aracaju 2018-01-01   14.21  ...         1          0 days          1
2     Aracaju 2018-01-01   71.55  ...         1          0 days          1
3     Aracaju 2018-01-01    3.01  ...         1          0 days          1
4     Aracaju 2018-01-01   24.51  ...         1          0 days          1
..        ...        ...     ...  ...       ...             ...        ...
235  Salvador 2019-01-03   41.84  ...         3        367 days          1
236  Salvador 2019-01-03  126.29  ...         3        367 days          1
237  Salvador 2019-01-03   38.06  ...         3        367 days          1
238  Salvador 2019-01-03  139.64  ...         3        367 days          1
239  Salvador 2019-01-03  161.41  ...         3        367 days          1

[894 rows x 11 columns]

In [ ]:
#filtrando as vendas em um mes especifico 
vendas_março_2019 = df.loc[(df["Data"].dt.year == 2019) & (df["Data"].dt.month == 3)]

In [ ]:
vendas_março_2019

        Cidade       Data  Vendas  ... dia_venda  diferença_dias  trimestre
108  Fortaleza 2019-03-02  152.89  ...         2        425 days          1
109  Fortaleza 2019-03-02   18.90  ...         2        425 days          1
110  Fortaleza 2019-03-02   51.98  ...         2        425 days          1
111  Fortaleza 2019-03-02    8.00  ...         2        425 days          1
112  Fortaleza 2019-03-02  133.59  ...         2        425 days          1
..         ...        ...     ...  ...       ...             ...        ...
137   Salvador 2019-03-02   51.66  ...         2        425 days          1
138   Salvador 2019-03-02  212.03  ...         2        425 days          1
139   Salvador 2019-03-02  169.01  ...         2        425 days          1
140   Salvador 2019-03-02   20.79  ...         2        425 days          1
141   Salvador 2019-03-02    9.08  ...         2        425 days          1

[121 rows x 11 columns]

In [72]:
df.tail()

       Cidade       Data  Vendas  ... dia_venda  diferença_dias  trimestre
235  Salvador 2019-01-03   41.84  ...         3        367 days          1
236  Salvador 2019-01-03  126.29  ...         3        367 days          1
237  Salvador 2019-01-03   38.06  ...         3        367 days          1
238  Salvador 2019-01-03  139.64  ...         3        367 days          1
239  Salvador 2019-01-03  161.41  ...         3        367 days          1

[5 rows x 11 columns]